- var page_title = "WISS 2022: 第30回インタラクティブシステムとソフトウェアに関するワークショップ"
- var logo_path = "./assets/logo/logo.png"
- var logo_size = 260
-
  var headlines = [
    '2022/12/16: WISS 2022は無事に終了しました．来年は<a href="https://www.wiss.org/WISS2023/">WISS 2023</a>を開催予定です', 
    '2022/12/16: <a href="./award.html">表彰ページ</a>を掲載しました', 
    '2022/12/13: 有料オンライン参加登録締め切りました．無料オンライン参加をご利用ください', 
    '2022/12/08: <a href="https://www.wiss.org/WISS2022Proceedings/">ウェブ予稿集</a>及び<a href="./downloads/proceedings.pdf">電子予稿集</a>を掲載しました', 
    '2022/12/08: <a href="./demo-poster.html">デモ・ポスターページ</a>を掲載しました', 
    '2022/11/30: <a href="./program.html">プログラムページ</a>を掲載しました', 
    '2022/11/30: 現地参加申込を締め切りました', 
    '2022/11/27: <a href="./call-for-papers.html">予稿なしデモ発表</a>の追加募集を行います', 
    '2022/11/22: <a href="./call-for-papers.html">予稿有りデモ発表</a>の追加募集を行います', 
    '2022/11/11: 応募が定員に達したため，学生ボランティア募集を締め切りました',
    '2022/11/11: <a href="./covid19d.html">参加形態と新型コロナ対策に関するページ</a>を掲載しました',
    '2022/11/10: <a href="./call-for-participants.html">参加募集ページ</a>を掲載しました',
    '2022/11/10: <a href="./call-for-studentvolunteer.html">学生ボランティア募集ページ</a>を掲載しました',
    '2022/10/10: <a href="./challenge.html">WISS Challenge募集ページ</a>を掲載しました',
    '2022/07/29: <a href="./design-competition.html">表紙デザイン募集ページ</a>を掲載しました',
    '2022/07/29: Webサイト公開',
  ]

doctype html
html(lang=ja)
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
    include includes/seo
    title #{page_title}
    include includes/bootstrap-css
    link(rel="stylesheet" href="./css/override.css")
  body
    include includes/header
    .jumbotron#top
      .container.text-center
        img(src="./assets/textures/texture.jpg" style="object-fit: cover; object-position: 50% 50%; width: 100%; height: 100%; mix-blend-mode: overlay; position: absolute; top: 0%; left: 0%; opacity: 20%; pointer-events: none; z-index: 2;")
        img.img-fluid(src=logo_path style="max-height: " + logo_size + "px;")
        hr
        p.lead WISS 2022: 第30回インタラクティブシステムとソフトウェアに関するワークショップ
    .container.content
      if headlines.length != 0
        .alert.alert-primary 
          p(style="margin-bottom: 0px;") 最近の主な更新内容：
          ul(style="margin: 0px;")
            each headline in headlines
              li !{headline}
      include:markdown-it(html=true typographer=true) md/index.md
      include includes/sponsors
    include includes/footer
    include includes/bootstrap-js
